
.intro--container {
    padding: 10em 2em 5em 1em;
    background-color: var(--Blue-Haze);
    background-image: url('img/div-icon.png');
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    background-size:180px, 230px, auto;
    
}
.hero--intro {
    font-size: 2rem;
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    
}
.animation--name {
    display: block;
    font-weight: 700;
    width: max-content;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    text-shadow: 0px 1px 2px var(--Matte-Black);
    letter-spacing: 1.5px;
    
}
  
.background-color--blue {
    background-color: var(--dark-teal);
    color: var(--Snow-Drift);
    
}
  
.background-color--green {
    background-color: var(--Prussian-Blue);
    color: var(--Snow-Drift);
}
  
.background-color--purple {
    background-color: var(--Orange-peel);
    color: var(--Snow-Drift);
    
}

.service--container {
    width: 100%;
    padding: 9px;
    
}
.service--container h2 {
    margin: 40px 0;
    text-transform: capitalize;
    color: var(--midnight-blue);
    text-align: center;
    font-size: 2.5rem;
    position: relative;
    background-color: transparent;
    
}
.service--container h2::before {
    position: absolute;
    content: '';
    z-index: 1;
    height: 2px; 
    background-color: var(--Prussian-Blue);
    margin: 0.5em auto;
    width: 5em;
    bottom: -20px;

}
.service {
    background-color: var(--Minty-Aqua);
    padding: 15px;
    margin-bottom: 35px;
    color: var(--Prussian-Blue);
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(191,191,191,1);
    -moz-box-shadow: 0px 2px 5px -1px rgba(191,191,191,1);
    box-shadow: 0px 2px 5px -1px rgba(191,191,191,1);

}
legend {
    display: inline-block;
    text-align: center;
    background-color: var(--Prussian-Blue);
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--White-Smoke);
    letter-spacing: 1px;
    text-shadow: 0px 0px 1px var(--Black--);
    
}
.service--txt {
    letter-spacing: .8px;
    font-weight: 500;
    line-height: 1.5em;
    color: var(--midnight-blue);
    text-align: center;
    padding: 0 5px;
}

@media (max-width: 400px) {
    .service--txt {
        font-size: .8975rem;
    }
}
/* desktop and other screen size */
@media (min-width: 768px) {
    .animation--container {
        display: flex;
        align-items: center;
        padding-left: 130px;
        gap: 1.5em;
        
    }
    .hero--intro{
        font-size: 2.5rem;
    }
    .animation--name {
        font-weight: 500;
        font-size: 2rem;
        margin: 0;
        align-self: baseline;
    }
    .intro--container {
        background-size: 290px, 230px, auto;
    }
    .service--txt {
        font-size: 1.3rem;
    }
    

}
@media (max-width: 768px) {
    .animation--container{
        padding-left: 30px;
        font-size:  1.25rem;
    }
}
/* ipad screen size */
@media (min-width: 876px) {
    .service--inner--container {
        display: grid;
        grid-template-columns: repeat(3, minmax(150px, 1fr));
        align-self: center;
        padding: 20px 70px;
        grid-gap: 25px;
    }
    .service--txt {
        font-size: 1rem;
    }
    .service {
        padding: 5px;
    }
}

@media only screen and
    (min-device-width: 1024px) and
    (max-device-width: 1024px) and 
    (-webkit-min-device-pixel-ratio: 2) {
    .service--inner--container {
        padding: 20px;
    }
    .service--txt {
        font-size: 1.1rem;
    }
}

  
  
  
  
  
  