
i, .show-more {
    cursor: pointer;
}
i {
    padding-left: 3px;
}
.likes {
    font-size: 1.1rem;
}

.fa-solid {
    color: var(--Dark-Gray);
}
.works-section{
    width: 100%;
}
.works-section .my--work{
    text-align: center;
    display: block;
    margin-top: -40px;
    text-transform: capitalize;
    padding-bottom: 10px;
    font-size: 1.5rem;
    color: var(--midnight-blue);
}
.works-container:nth-of-type(1) {
    margin-top: 15px;
}

.work--overlay {
    margin: 25px 0;
    border-radius: 5px;
    padding: 0;
    overflow: hidden;
    display: block;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.418);
}
.work--details--container{
    background-color: var(--Light-shade-gary);
    padding-bottom: 1px;
    width: 100%;
    height: 100%;
}

.work-img--container {
    width: 100%;
    height: 180px;
    
}
.work-img {
    width: 100%;
    height: 100%;
    border-radius: 3px 3px 0 0;
    object-fit: fill;
}
.like--container, 
.link--container {
    display: flex;
    align-items: center;
    gap: 1.2em;
    padding: 0 10px;
}
.like--container {
    margin: 0 0 0 auto;
}
.project--name {
    font-size: 1.2rem;
    color: var(--Black--);
    text-transform: capitalize;
    font-weight: 600;
}
.project--details {
    font-weight: 500;
    margin-top: 0;
    font-size: .875rem;
    letter-spacing: 1.1px;
    color: var(--Black--);
    padding: 0 10px;
}
.disliked, .liked {
    font-size: 18px;
}
.liked {
    color: var(--Medium-purple);
   
}
.disliked {
    color: var(--Radical-Red);
} 
.show-more {
    background-color: var(--Light-shade-gary);
    padding: 8px 10px;
    text-align: center;
    display: block;
    border-radius: 5px;
    font-weight: 600;
    color: var(--Black--);
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 100%;
    margin: 30px 0 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.418);
}
@media (min-width: 600px){
    .works-section .my--work{
        text-decoration: none;
        margin: 0 auto 30px;
        padding: 8px 10px;
        width: 220px;
        border-radius: 50px;
        font-weight: 600;
        background-color: var(--Medium-purple);
        color: var(--white);
        text-shadow: 0px 0px 1px var(--Black--);
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.418);
    }
    .works-container {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        grid-gap: 1em;
    }
    .work--overlay {
        margin: 0;
    }
}

@media (min-width: 1025px) {
    .works-container {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
    .works-section .my--work, .show-more {
        margin-bottom: 40px;
        background-color: unset;
        color: var(--Radical-Red);
        text-decoration: underline;
        box-shadow: unset;
        text-shadow: 1px 1px 2px var(--Black--);
        
    }
    .show-more {
        margin: 10px auto 0;
        font-size: 1.2rem;
        width: max-content;
        
    }
    .works-section .my--work:hover, .show-more:hover {
        color: var(--Medium-purple);
    }
}



  
  